<section id="calendar" class="calendar container wow fadeInUp">
  <div class="row py-5">
	<div class="col-10 offset-1">
	  <div class="calendar-container clearfix mgn-top">
		<header class="text-center">
		  <h5 class="month"></h5>
		  <h6 style="color: rgba(51, 51, 51, 0.5)">wedding day</h6>
		  <br/>
		</header>
		<div class="week-days clearfix row">
		  <div class="col">Sun</div>
		  <div class="col">Mon</div>
		  <div class="col">Tue</div>
		  <div class="col">Wed</div>
		  <div class="col">Thu</div>
		  <div class="col">Fri</div>
		  <div class="col">Sat</div>
		</div>
		<div class="event-calendar">
		  <div class="1 week row"></div>
		  <div class="2 week row"></div>
		  <div class="3 week row"></div>
		  <div class="4 week row"></div>
		  <div class="5 week row"></div>
		  <div class="6 week row"></div>
		</div>
	  </div>
	</div>
  </div>
</section>
