<section id="contact" class="container">
    <div class="text-center py-5">
        <h5 class="wow fadeInUp">연락하기</h5>
        <br />
        <div class="row text-center contact">
            <div class="col wow fadeIn">
                <div class="wow fadeInUp">
                    <span>신랑 <strong>박철우</strong></span>
                    <ul class="mt-2 list-unstyled list-group flex-row justify-content-center">
                        <li class="contact-item mr-3">
                            <a href="tel:{{ page.tel1 }}"><i class="fas fa-phone-alt"></i></a>
                        </li>
                        <li class="contact-item">
                            <a href="sms:{{ page.tel1 }}"><i class="far fa-envelope-open"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="my-4 wow fadeInUp delay-100ms">
                    <span>아버지 <strong>박흥수</strong></span>
                    <ul class="mt-2 list-unstyled list-group flex-row justify-content-center">
                        <li class="contact-item mr-3">
                            <a href="tel:{{ page.tel3 }}"><i class="fas fa-phone-alt"></i></a>
                        </li>
                        <li class="contact-item">
                            <a href="sms:{{ page.tel3 }}"><i class="far fa-envelope-open"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="wow fadeInUp delay-200ms">
                    <span>어머니 <strong>최혜련</strong></span>
                    <ul class="mt-2 list-unstyled list-group flex-row justify-content-center">
                        <li class="contact-item mr-3">
                            <a href="tel:{{ page.tel4 }}"><i class="fas fa-phone-alt"></i></a>
                        </li>
                        <li class="contact-item">
                            <a href="sms:{{ page.tel4 }}"><i class="far fa-envelope-open"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contact-divider wow fadeIn"></div>
            <div class="col wow fadeIn">
                <div class="wow fadeInUp">
                    <span>신부 <strong>남미현</strong></span>
                    <ul class="mt-2 list-unstyled list-group flex-row justify-content-center">
                        <li class="contact-item mr-3">
                            <a href="tel:{{ page.tel2 }}"><i class="fas fa-phone-alt"></i></a>
                        </li>
                        <li class="contact-item">
                            <a href="sms:{{ page.tel2 }}"><i class="far fa-envelope-open"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="my-4 wow fadeInUp delay-100ms">
                    <span>아버지 <strong>남기홍</strong></span>
                    <ul class="mt-2 list-unstyled list-group flex-row justify-content-center">
                        <li class="contact-item mr-3">
                            <a href="tel:{{ page.tel5 }}"><i class="fas fa-phone-alt"></i></a>
                        </li>
                        <li class="contact-item">
                            <a href="sms:{{ page.tel5 }}"><i class="far fa-envelope-open"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="wow fadeInUp delay-200ms">
                    <span>어머니 <strong>황정숙</strong></span>
                    <ul class="mt-2 list-unstyled list-group flex-row justify-content-center">
                        <li class="contact-item mr-3">
                            <a href="tel:{{ page.tel6 }}"><i class="fas fa-phone-alt"></i></a>
                        </li>
                        <li class="contact-item">
                            <a href="sms:{{ page.tel6 }}"><i class="far fa-envelope-open"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>