<header class="w-100">
	<div class="text-center mx-5  my-5">
		<h5 class="name wow fadeInDown">박철우</h5>
		<div>
			<img class="wow fadeInUp" src="../img/ring.png" style="height: 10px;" />
		</div>
		<h5 class="name wow fadeInUp">남미현</h5>
	</div>
	<div clsas="w-100" style="text-align: center;">
		<div class="intro-img wow fadeIn">
			<img src="../img/bg.jpg" class="img-fluid" />
			<div class="intro-img-message wow fadeIn delay-500ms slow">
				<div>우</div>
				<div>리,</div>
				<div style="margin-top: 0.25em;">결</div>
				<div>혼</div>
				<div>합</div>
				<div>니</div>
				<div>다</div>
			</div>
		</div>
	</div>
	<div class="text-center my-5 wow fadeIn delay-500ms">
		<p>
			4월 25일 토요일 낮 12시
			<br />
			그랜드웨딩의전당 그랜드볼룸
		</p>
	</div>
</header>