<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:image" content="https://2020-04-25.github.io/img/og-image.jpg">
  <meta property="og:title" content="남미현❤박철우의 모바일 청첩장">
  <meta property="og:description" content="클릭하시면 연결됩니다.">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="2020년 4월 25일 토요일 낮 12시
인천 그랜드 웨딩의전당 그랜드볼룸">
  <meta name="author" content="">

  <meta http-equiv="X-Content-Security-Policy"
    content="default-src 'self'; script-src 'self' .googleapis.com; style-src 'self'; img-src 'self' ; font-src 'self'; connect-src 'self'; media-src 'self' ; object-src 'self' ; child-src 'self' ; frame-ancestors 'self' ; form-action 'none' ; sandbox allow-same-origin allow-scripts allow-pointer-lock; reflected-xss block;" />

  <title>{{ site.title }}</title>

  <link rel="shortcut icon" href="../img/favicon.ico">

  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link href="css/custom.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/calendar.css" rel="stylesheet">
  <link href="css/custom-animate.css" rel="stylesheet">
  <link href="css/viewer.min.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
    rel="stylesheet" type="text/css">
</head>