<section>
	<h5 class="mt-5 text-center wow fadeInUp">오시는 길</h5>
	<br />
	<div class="text-center">
		<div class="wedding-hall wow fadeInUp">
			<p><span>그랜드 호텔 웨딩의 전당 그랜드볼룸(신관)</span></p>
			<p><span style="white-space: pre-line;">도로명: 인천 중구 서해대로 314
					지번: 인천 중구 신흥동3가 29
				</span></p>
		</div>
		<br />
		<div id="map" class="wow fadeInUp"></div>
		<br />
		<div class="load_map bus mt-5 wow fadeInUp">
			<p><i class="fas fa-bus"></i> <strong>BUS</strong></p>
			<p><span style="white-space: pre-line;"><strong>조달청 비축기지 정류장 (정류장 코드 35-114, 35-115)</strong>
					12, 13, 24, 33, 36,
				</span></p>
		</div>
		<div class="load_map subway mt-5 wow fadeInUp">
			<p><i class="fas fa-subway"></i> <strong>SUBWAY</strong></p>
			<p><span style="white-space: pre-line;"><strong>셔틀버스 이용</strong>
					동인천역 2번 출구(지하상가 5번 출구 -> 국민은행 앞)
					숭의역 2번 출구</span></p>
		</div>
		<div class="load_map car mt-5 wow fadeInUp">
			<p><i class="fas fa-car"></i> <strong>CAR</strong></p>
			<p><span style="white-space: pre-line;"><strong>네비게이션 입력</strong>
					인천 그랜드호텔 웨딩의전당(구 뉴스타호텔)</span></p>
		</div>
		<div class="load_map car mt-5 wow fadeInUp">
			<p><i class="fas fa-bus-alt" style="color: rgb(255, 101, 91)"></i> <strong>공주에서 오시는 분이라면</strong></p>
			<p><span style="white-space: pre-line;"><strong>금강둔치공원 주차장</strong>
				오전 8시 50분에 전세버스가 출발합니다.
				늦지 않게 도착해주세요!</span></p>
		</div>
	</div>
</section>